Filter method is used for indepentent feature relation to related in output. used for Large Dataset, large features , get fast output and simple , only relation between feature and Target.

In [1]:
import pandas as pd

In [2]:
data = {
    'Age' : [20,28,32,40],
    'Income' : [20000,25000,40000,13000],
    'Loan_Approval' : [1,0,0,1]
}

In [3]:
df = pd.DataFrame(data)
df

   Age  Income  Loan_Approval
0   20   20000              1
1   28   25000              0
2   32   40000              0
3   40   13000              1

In [4]:
df.corr()

                        Age    Income  Loan_Approval
Age            1.000000e+00 -0.139905  -6.158409e-17
Income        -1.399046e-01  1.000000  -8.070932e-01
Loan_Approval -6.158409e-17 -0.807093   1.000000e+00

In [5]:
correlation  = df.corr()['Loan_Approval']
correlation

Age             -6.158409e-17
Income          -8.070932e-01
Loan_Approval    1.000000e+00
Name: Loan_Approval, dtype: float64

In [ ]:
correlation.abs()         #Absolute possitive Value

Age              6.158409e-17
Income           8.070932e-01
Loan_Approval    1.000000e+00
Name: Loan_Approval, dtype: float64

In [8]:
sorted_features = correlation.sort_values(ascending=False)
sorted_features

Loan_Approval    1.000000e+00
Age             -6.158409e-17
Income          -8.070932e-01
Name: Loan_Approval, dtype: float64