Wrapping Methods (Use like: Yes or no, Decisions making)

its get the feature in groupby features from select best one.

Norminal Value: Unorder ;
Ordinal Value: Order ;
Binary Value: 2 Choices

RECURSIVE FEATURE ELIMINATION (RFE)

We start with all the features in the model and then
remove one feature at a time. After each removal, we
check how well the model is doing. If the model's
performance improves, we keep the feature
removed; otherwise, we put it back. We repeat this
process until we find the best combination of features
that makes the model perform at its best.

Set Of
Features || ---
Generate
Subset  || ---
Algorithm  || ---
Performance

Used in Simple Dataset, it takes time too long. that main goal was when we optimizied the machine learning at that time we can use the wrapper method

In [6]:
#FEATURE ENCODING

''' 
When we use feature encodiing ?

we can change the categorical value to numerical value .
Types of data :
Unorder Data ---- Order Data ----- Binary data 

'''

import pandas as pd
from sklearn.preprocessing import LabelEncoder   #Change the categorical value to Numeric value 
#Orderable Data

In [7]:
data ={
    'Item':['Shirt','Jeans','Dress','Chudi'],
    'Color':['black','red','White','blue'],
    'Size':['Medium','Large','Small','X-Large']
}

In [8]:
df=pd.DataFrame(data)
df

    Item  Color     Size
0  Shirt  black   Medium
1  Jeans    red    Large
2  Dress  White    Small
3  Chudi   blue  X-Large

In [9]:
#LABEL ENCODING:(When Order Data)

encoder=LabelEncoder()

In [10]:
#For Change Chategrical value to Numerical Value

df['Encoded_Size']=encoder.fit_transform(df['Size'])

'''
df['Encoded_Size'] -- We create a New column .
change the Size column in to Numerical data type.
'''

"\ndf['Encoded_Size'] -- We create a New column .\nchange the Size column in to Numerical data type.\n"

In [11]:
df

    Item  Color     Size  Encoded_Size
0  Shirt  black   Medium             1
1  Jeans    red    Large             0
2  Dress  White    Small             2
3  Chudi   blue  X-Large             3

In [12]:
#One-Hot Encoder(When Unorder Data)
from sklearn.preprocessing import OneHotEncoder

In [13]:
data1={
    'Fruit':['banana','apple','maa','orange'],
    'Color':['yellow','red','green','orange']
}

In [14]:
df1=pd.DataFrame(data1)
df1

    Fruit   Color
0  banana  yellow
1   apple     red
2     maa   green
3  orange  orange

In [15]:
encoder1=OneHotEncoder()            #-- Unorder Data value convert into numerical value

In [24]:
encoded_colors=encoder1.fit_transform(df1[['Color']]).toarray()      #Convert numerical value then change array format. 
encoded_colors

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.]])

In [ ]:
#-- We create the column name for the converted numeric data
encoded_df=pd.DataFrame(encoded_colors,columns=encoder1.get_feature_names_out(['Color']))     #- Returns the names of the new columns created from 'Color'—like Color_Blue, Color_Green,

In [ ]:
df_encoded=pd.concat([df1,encoded_df],axis=1)  #For Concatination , axis-1 for column 
df_encoded

    Fruit   Color  Color_green  Color_orange  Color_red  Color_yellow
0  banana  yellow          0.0           0.0        0.0           1.0
1   apple     red          0.0           0.0        1.0           0.0
2     maa   green          1.0           0.0        0.0           0.0
3  orange  orange          0.0           1.0        0.0           0.0